body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 15px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  padding-right: 20px;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  padding-right: 20px;
  color: black;
}

.user-greeting {
  padding: 5px;
  color: grey;
  margin-right: 50px;
  margin-left: 25px
}

.login-form button, .new-question-button {
  margin-top: 10px;
}

.signin-heading {
  margin-top: 20px;
}

.option_progress {
  border: 1px solid green;
  padding: 5px;
  margin-bottom: 10px;
}